{% extends 'base.html' %}

{% block content %}

<h3>Search Results for "{{ query }}"</h3>

<h4>Lost Items</h4>
{% for item in lost_results %}
<div class="card p-2 mb-2">
    <b>{{ item.type }}</b> - {{ item.description }} ({{ item.location }})
</div>
{% empty %}
<p>No lost items found</p>
{% endfor %}

<h4 class="mt-4">Found Items</h4>
{% for item in found_results %}
<div class="card p-2 mb-2">
    <b>{{ item.type }}</b> - {{ item.description }} ({{ item.location }})
    <br>Contact: {{ item.contact }}
</div>
{% empty %}
<p>No found items found</p>
{% endfor %}

{% endblock %}